@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135.8deg, rgb(26, 26, 29) 27.1%, rgb(84, 24, 36) 77.5%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.music-player {
    background: radial-gradient(346px at 0.3% 100%, rgb(62, 76, 167) 0%, rgb(220, 80, 122) 100.7%);
    width: 25em;
    padding: 1.6em 2.2em;
    text-align: center;
    border-radius: 0.5em;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.9em;
}

nav .circle {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    background-color: #fff;
    color: #f53192;
    box-shadow: 0 5px 10px rgb(255, 26, 26, 0.5);
}

nav .circle:hover {
    box-shadow: 0 5px 10px rgb(255, 26, 26, 0.5) inset;
}

.song-image {
    width: 14em;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 10px 60px rgb(255, 26, 26, 0.5);
}

.song-image:hover {
    transform: scale(1.25);
}

.song-title {
    font-weight: 500;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
    margin-top: 1.25em;
}

.song-author {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 0.375em;
    background-color: #310c2b;
    border-radius: 0.2em;
    cursor: pointer;
    margin: 2.5em 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #f53192;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 5px 5px rgb(255, 26, 26, 0.5);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div {
    width: 3.75em;
    height: 3.75em;
    margin: 1.25em;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0 10px 20px rgba(97, 7, 7, 0.5);
    cursor: pointer;
}

.controls div:nth-child(2) {
    transform: scale(1.5);
    background-color: #f53192;
    color: #fff;
}

.controls div:hover {
    box-shadow: 0 10px 20px rgba(97, 7, 7, 0.5) inset;
}